.main-menu li {
  display:  inline-block;
  list-style: none;
  border-right: 1px solid #fff;
}
.main-menu li:last-child {
  border: none;
}
.main-menu ul {
  list-style:  none;
}
.main-menu ul a {
  text-decoration: none;
  margin: 0 20px;
  color: white;

}
.main-menu ul a:hover {
  color: #D99TR4;
}
.main-menu {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 1240px;
  margin: 0 auto;
}
