.sidebar {
  background: #404040;
  max-width: 300px;
  width: 100%;
  height: 100%;
}
.addproject,
.project {
  padding: 20px;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.addproject span,
.project span{
   display: block;
}

.addproject button,
.project button{
   appearance: none;
   border: none;
   background: none;
   color: #fff;
   font-size: 20px;
   font-weight: 500;
   outline: none;
   cursor: pointer;
}
.Dashboard {
  display: flex;
}
