.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
  padding: 30px;
  min-height: 280px;
}
.popup_inner label {
  text-align: left;
}

.popup button {
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 100px;
  font-size: 14px !important;
  background: linear-gradient(313.2deg,#1978D2 0%,#0099FF 100%) !important;
  color: #fff;
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  cursor: pointer;
}

.popup h1{
  color: #000;
}

.popup .form-group {
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    display: inline-block;
}

.popup .form-group input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  appearance: none;
  margin-bottom: 20px;
}

.popup .form-group label {
  color: #000;
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
}
