.content-area {
   margin-top: 100px;
}

.left-content {
  margin-top: 200px;
  width: calc(100% - 380px);
  text-align: center;
  display: inline-block;
}
.right-content {
  max-width: 380px;
  display: inline-block;
  width: 100%;
  position: fixed;
}
.left-content .logo,
.left-content .paragraph  {
  max-width: 380px;
  margin:  0 auto;
}
