.headerMain {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.headerMain ul {
  list-style: none;
}

.headerMain ul a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
