.inputField input {
  appearance: none;
  border: 1px solid #d8d8d8;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}
.inputField label {
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
  padding-left: 20px;
}
.inputField {
  color: gray;
}
